.lSkocko {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}
.lTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.lCurrentTable {

}
.lResultTable {}
.lGameControls {
    text-align: left;
}

.GameTable {
    border: 1px solid;
    padding: 10px;
}
.GameTable div > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px 7px 0;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 2.4rem;
}

.GameTable span:last-child { margin-right: 0; }

/* general: */
button {
    touch-action: manipulation;
}