body {
    background-color: #6bcbfb;
}
.l-skocko {
    padding: 10px 30px;

    .l-skocko-top {
        margin-bottom: 40px;
        display: flex;
    }

    .l-table-game { margin-right: 50px; }

    .l-skocko-bottom {
        display: flex;
        align-items: flex-start;
    }

    .l-skocko-controls {
        margin-right: 50px;

        .l-current-combination {
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;

            span {
                &.table-field {
                    margin: 0 5px 0 0;
                }
            }
        }
        .l-controls-buttons { margin-bottom: 20px; }
        .l-actions {
            .btn { margin-right: 30px; }
        }
    }

    .l-end-game {
        display: flex;

        p { margin-top: 0;}
    }
    .l-random-combination {
        margin-bottom: 20px;
        
        span {
            &.table-field {
                margin: 0 5px 0 0;
            }
        }
    }
}

/* -------------------------------
    mobile:
-------------------------------- */
@media only screen and (max-width: 600px) {
    .l-skocko {
        padding: 5px 10px;
    
        .l-skocko-top {
            margin-bottom: 15px;
        }
    
        .l-table-game { margin-right: 20px; }
    
        .l-skocko-bottom {
            display: flex;
            flex-wrap: wrap;
        }
    
        .l-skocko-controls {
            margin: 0;
    
            .l-current-combination {
                margin-bottom: 10px;
            }
            p { margin: 0 0 5px 0; }
            .l-controls-buttons { margin-bottom: 10px; }
            .l-actions {
                .btn { margin-right: 20px; }
            }
        }

        .l-end-game {
            display: flex;
            margin: 15px 0 0 0;
    
            p { margin: 0 0 10px 0; }


        }
        .l-random-combination {
            margin-bottom: 15px;
            
            span {
                &.table-field {
                    margin: 0 5px 0 0;
                }
            }
        }
    }
}