body {
    background-color: #6bcbfb;
}
.l-skocko {
    padding: 10px 30px;

    .l-header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        .l-guide {
            button {
                cursor: pointer;
                font-size: 1.3rem;
                text-decoration: underline;
                line-height: 38px;
            }
        }
    }

    .l-skocko-top {
        margin-bottom: 40px;
        display: flex;
    }

    .l-skocko-time {
        margin-right: 20px;
        .l-time {
            width: 15px;
            height: 100%;
            border: 1px solid yellow;
        }
    }

    .l-modal {
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        z-index: 999;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #fff;

        .l-close {
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            font-size: 2.4rem;
            border-radius: 30px;
            color: #fff;
            background-color: #000;
            cursor: pointer;
        }

        .l-modal-content {
        max-height: 80vh;
        overflow-y: auto;
        }
    }

    #backdrop {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, .2);
    }

    .l-table-game { margin-right: 20px; }

    .l-skocko-bottom {
        display: flex;
        align-items: flex-start;
    }

    .l-skocko-controls {
        margin-right: 50px;

        .l-current-combination {
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;

            span {
                &.table-field {
                    margin: 0 5px 0 0;
                }
            }
        }
        .l-controls-buttons { margin-bottom: 20px; }
        .l-actions {
            .btn { margin-right: 30px; }
        }
    }

    .l-end-game {
        display: flex;

        p { margin-top: 0;}
    }
    .l-random-combination {
        margin-bottom: 20px;

        span {
            &.table-field {
                margin: 0 5px 0 0;
            }
        }
    }
}

// language switcher
.l-lang {
    margin-right: 50px;
    min-width: 120px;
}

/* -------------------------------
    mobile:
-------------------------------- */
@media only screen and (max-width: 600px) {
    .l-skocko {
        padding: 5px 10px;

        .l-skocko-top {
            justify-content: space-between;
            margin-bottom: 15px;
            max-height: 339px;
        }

        .l-table-game { margin-right: 0; }
        .l-skocko-time { margin-right: 0;}

        .l-skocko-bottom {
            display: flex;
            flex-wrap: wrap;
        }

        .l-skocko-controls {
            margin: 0;

            .l-current-combination {
                margin-bottom: 10px;
            }
            p { margin: 0 0 5px 0; }
            .l-controls-buttons { margin-bottom: 10px; }
            .l-actions {
                display: flex;
                justify-content: space-between;
                .btn { margin-right: 0; }
            }
        }

        .l-end-game {
            display: flex;
            margin: 15px 0 0 0;

            p { margin: 0 0 10px 0; }


        }
        .l-random-combination {
            margin-bottom: 15px;

            span {
                &.table-field {
                    margin: 0 5px 0 0;
                }
            }
        }
    }
}