.App {

}

.l-github-popular {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.l-github-popular li {
  flex-basis: 20%;
  margin-bottom: 40px;
}

.l-github-popular img {
  max-width: 50px;
}
